*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    min-height:100%;
    background-image: url("bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100vh; */
}
.bg-overlay{
    box-shadow:inset 0 0 0 2000px rgb(0 0 0 / 36%);
}
.text-bg-shadow{
    text-shadow: 2px 2px rgba(0, 0, 0, 0.567);
}
.color-prim{
    background-color: #0097ce !important;
    color: white !important;
}

.myBtn {
    all: unset;
    cursor: pointer;
    color: white;
}
.plus-icon{
    font-weight: bolder;
    font-size: x-large;
    margin-right: 8px;
}
.btn{
    border-radius: 10px !important;
}
select{
    font-size: small !important;
}